{% extends "AppBundle::layout.html.twig" %}

{% block title "Expenses" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Expenses</h1>

    <ul id="note-list">
        <table class="table table-hover table-row">
        {% for id, expense in data.expenses %}
            <tr><td>{{ expense.createdAt|date }}</td>
                <td>$ {{ expense.amount|number_format(2) }}</td>
                <td>{{ expense.description }}</td>
                <td>{{ expense.comment }}</td>
 
                <td><a href="{{ path('get_expense', {'id': expense.id}) }}">Show</a>
                    [<a href="{{ path('edit_expense', {'id': expense.id}) }}">edit</a>]
                    [<a href="{{ path('remove_expense', {'id': expense.id}) }}">remove</a>]</td>
            </tr>
        {% else %}
            <tr><td>None available</td></tr>
        {% endfor %}
        </table>
    </ul>
    <p>
        <a href="{{ path('new_expense') }}">Add a new expense</a>
    </p>
{% endblock %}
